.headerHead{
    background-color: var(--secondaryColor);
    width: 100vw;
    height: 20vh;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftHead{
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo{
    max-height: 100%;
}

#logoName{
    font-size: 3rem;
    font-weight: 600;
}

.loginDiv{
    width: 100px;
    height: 35px;
    background-color: var(--buttonColor);
    padding: 2px;
    border: 1px solid var(--buttonColor);
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginButton{
    color: #FFFFFF;
    text-decoration: none;
}

.loggedInDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.loggedInDiv p{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
}