.loginSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBody{
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#submitButton{
    width: 100px;
    height: 35px;
    background-color: var(--buttonColor);
    padding: 2px;
    border: 1px solid var(--buttonColor);
    border-radius: 5px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.askRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
}